.row.footer {
    flex: 0 1 40px;
    background: #e2f3f5
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e2f3f5;
    color: darkgrey;
    text-align: center;
  }