<!--The content below is only a placeholder and can be replaced.-->

<div class="box">
  <div class="row header">
    <div class="headerContainer">
      <div class="headerNav">
        <div class="nav-item"><a class="nav-link" routerLink="/home">Home</a></div>
        <div class="nav-item"><a class="nav-link" routerLink="/about">About</a></div>
        <div class="nav-item"><a class="nav-link" routerLink="/courses">Courses</a></div>
      </div>
      <div class="mode">
        <span>Dark Mode</span>
        <input type="checkbox" (click)="toggle()" >
      </div>
    </div>
    <router-outlet></router-outlet>   
  </div>
  
  <div class="row content">
    <b>
      <div *ngIf="dataLoaded; else elseBlock">
          <div class="liContainer" *ngFor="let tweet of tweetData; let i = index">
            <div class="tweetContainer">
               {{tweet}}
            </div>
          </div>

      </div>
      <ng-template #elseBlock><p>Spinner to show loading</p></ng-template>
    </b>
  </div>

  <div class="row footer">
    <p><b>footer</b> (fixed height)</p>
  </div>
</div>

