.background {
    height: 100%;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    background: #e2f3f5
  }
  
  .box .row {
    border: 1px dotted grey;
  }
  
  .box .row.header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
  }
  
  .box .row.content {
    flex: 1 1 auto;
  }
  
  .box .row.footer {
    flex: 0 1 40px;
    background: #e2f3f5
  }

  .headerContainer {
    display: flex;
    flex-wrap: wrap;
    /* background: var(--background);
    color: var(--on-background);
    */
    background: #e2f3f5
  }

  .headerNav {
    flex: 0 0 82%;
    padding: .2rem;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    background: #e2f3f5;
    justify-content: center
  }

  .mode {
    flex: 0 0 15%;
    padding: .2rem;
    padding-left: 1rem;
    float: right;
    max-width: 6rem;
    padding-top: 1rem;
  }
  .tweetContainer {
      border-radius: 25px;
      background: #0e153a;
      padding-top: 3rem;
      text-align: center;
      margin: .7rem;
      height: 8rem;
      color: #22d1ee;
  }

  .liContainer {
    padding: 0px
  }

  .nav-item {
    padding-left: 1rem;
    padding-right: 6rem;
    padding-top: 1rem;
  }